@import "~bulma/sass/utilities/initial-variables";

$family-serif: 'Lato', Helvetica, Arial, sans-serif;

$family-primary: $family-serif;

$logo-font: 'Alegreya SC', 'Times New Roman', Times, serif;

@import "~bulma/bulma";
